.button-expand {
    width: 95%;
}


.left-align-icons {
    margin-left: 0px;
    margin-right: 10px;
}

.ion-label-class {
    font-weight: bolder;
    font-size: larger;
}

.star-class-icon {
    color: gold;
}

.about-us-class-icon {
    color: rgb(175, 175, 238);
}

.item-label .ion-chevron-label {
    color: rgb(189, 183, 183);
}