.toolbar-background {
    background-color: #017EC0;
  }

.toolbar-title {
    color: #FFFFFF
  }

.button-forgot-password {
  padding-top: 0px;
}


ion-modal {
  .modal-wrapper {
      height: 70%;
      width: 60%;
  }
}

.capitalize {
  text-transform: capitalize;
}






