mat-table {
  width: 90%;
  margin: 20px auto;
}

div-layout{
width: 80%;
margin: 20px auto;
}



.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}


