<ion-header>
  <ion-toolbar mode=ios>
    <ion-buttons slot="start" >
      <ion-back-button text="" icon="chevron-back-sharp" defaultHref="/home" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>  
    <ion-item>
      
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
    
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header class="ion-text-center">Contact Us</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="call-sharp"></ion-icon>
        <ion-label>080-9893843</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-sharp"></ion-icon>
        <ion-label>tradebuddy@gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="globe-sharp"></ion-icon>
        <ion-label>www.tradebuddy.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-sharp"></ion-icon>
        <ion-label>support.tradebuddy@gmail.com</ion-label>
      </ion-item>
    </ion-card-content>

  </ion-card>
  
</ion-content>
