<div mat-dialog-title>
  <ion-header>
    <ion-title ion-text-center>
      Forgot Password ??
    </ion-title>
  </ion-header>  
</div>

<div mat-dialog-content>
  <ion-label>Please enter your email address and we will send you instructions to reset your password</ion-label>
<ion-item>
  <ion-input type="email" [(ngModel)]="email"></ion-input>
</ion-item>
</div>
<div mat-dialog-actions>
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-button fill="clear" (click)="onResetClick()">Reset</ion-button>
      </ion-col>
      <ion-col class="ion-text-right"> 
        <ion-button fill="clear" (click)="onCancelClick()">Cancel</ion-button>
      </ion-col>
    </ion-row>  
</ion-grid>
</div>

